* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container {
    background-color: #ffff;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(68, 45, 9)
}

.questions {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    padding: 3rem;
}

form {
    height: 85%;
    background-color: #ffff;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.form-container {
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    margin: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

button {
    display: block;
    background-color: aliceblue;
    border-width: 0px;
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    font-family: 'roboto';
    font-size: 15px;
}

button:hover {
    background-color: rgb(189, 213, 233);
    font-family: 'roboto';
}

h3 {
    color: rgb(168, 81, 81);
    font-family: 'roboto';
}

label {
    color: rgb(52, 116, 58);
}